#redirect_on_load.panel.panel-default
  .panel-body
    p Thank you for your participation! We appreciate you supporting the cause.
    p In approximately 3 seconds, you will now be redirected to a page of our sponsor.