h1
p = link_to 'Click to Help – Its Free', confirmation_path, class: 'btn btn-primary btn-lg'

== render 'share_this'

br
br
p = link_to 'Sign UP as Sponsor', new_sponsor_registration_path, class: 'btn btn-info'
p = link_to 'Sign UP as Fundraiser', new_fundraiser_registration_path, class: 'btn btn-info'